.boat {
  position: relative;
  padding-top: 40px;
}

.h3 {
  font-size: 30px;
}

.boat p {
  margin: 10px 0;
}

.image {
  display: flex;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}
.image_jpeg {
  border-radius: 20px;
}

.controls {
  display: flex;
  padding-top: 20px;
}

.delete {
  margin-left: 20px;
  color: red;
}

.back {
  display: block;
  margin-top: 40px;
}

.times_icon {
  margin-bottom: -1.5px;
}

.header {
  margin-top: -40px;
  display: flex;
  justify-content: space-between;
}

.rate_container {
  margin-top: 30px;
  font-size: 17px;
  padding-right: 10px;
  gap: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
}

.info_container_toplevel {
  padding: 40px;
  display: flex;
  gap: 20px;
  border-radius: 30px;
  flex-direction: column;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
}

.info_packet_container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.spec_info_container {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}

.span_container {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.spec_info_container_span {
  font-size: 15px;
}

.price {
  font-size: 15px;
}

@media (max-width: 768px) {
  .boat {
    display: flex;
    flex-direction: column;
  }

  .info_container_toplevel {
    background-color: blueviolet;
    font-size: 25px;
    padding: 40px;
    display: flex;
    gap: 20px;
    border-radius: 30px;
    flex-direction: column;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
  }

  .spec_info_container_span {
    font-size: 25px;
  }
  .boat_spec_info_container_span {
    background-color: chartreuse;
    font-size: 45px;
  }

  .rate_container {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 25px;
    padding-right: 10px;
    gap: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
  }

  .mobile_title {
    font-size: 300%;
  }
}
