.boat {
  position: relative;
  padding-top: 40px;
}

.boat h3 {
  font-size: 25px;
}

.boat p {
  margin: 10px 0;
}

.image {
  display: flex;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}
.image_jpeg {
  border-radius: 20px;
}

.controls {
  display: flex;
  padding-top: 20px;
}

.delete {
  margin-left: 20px;
  color: red;
}

.back {
  display: block;
  margin-top: 40px;
}

.times_icon {
  margin-bottom: -1.5px;
}

.header {
  display: flex;
  gap: 495px;
}

.info_container_toplevel {
  padding: 40px;
  margin-top: 40px;
  display: flex;
  gap: 20px;
  border-radius: 30px;
  flex-direction: column;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
}

.info_packet_container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
